<!-- grid.component.html -->
<div class="flex flex-col w-full p-4 shadow-md rounded-lg grid-background">
  <!-- Header with search and filter -->
  <div class="flex justify-between items-center pb-4">
    <div class="flex items-center gap-2">
      <button
        type="button"
        style="border-color: #d9dce3"
        class="border focus:ring-1 shadow-sm focus:outline-none font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center cursor-pointer hover:bg-gray-50"
      >
        <app-icon name="filter" style="width: 20px; height: 20px"></app-icon>
      </button>

      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <app-icon name="search" style="width: 20px; height: 20px"></app-icon>
        </div>
        <input type="text" class="text-sm w-full ps-10 p-2.5 input" placeholder="Search..." />
      </div>
    </div>

    <button
      type="button"
      style="border-color: #d9dce3"
      class="border shadow-sm focus:outline-none font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center cursor-pointer hover:bg-gray-50"
    >
      <app-icon name="plus" style="width: 20px; height: 20px"></app-icon>
    </button>
  </div>

  <div class="overflow-x-auto w-full">
    <div class="min-w-[700px]">
      <app-grid-header
        [columns]="columns"
        (sortChange)="onSortChange()"
        class="border-b border-gray-200"
      ></app-grid-header>

      @for(data of data; track $index){
      <app-grid-row
        [columns]="columns"
        [data]="data"
        (actionClick)="onRowAction()"
        class="border-b border-gray-100 hover:bg-gray-50"
      ></app-grid-row>
      }
    </div>
  </div>
</div>
