<ion-item lines="none" class="mt-4 mb-4">
  <ion-avatar
    slot="start"
    [class]="(isSidebarOpen$ | async) ? 'w-12 h-12' : 'w-7 h-7'"
    class="transition-all duration-300"
  >
    <img
      src="/assets/icon/38ab233ed540c618577c001b3a4a83f67e35158a.png"
      alt="user image"
    />
  </ion-avatar>

  @if(isSidebarOpen$ | async) {
  <ion-label class="ml-2">
    <h2 class="font-semibold">{{ userName }}</h2>
    <p class="text-sm text-gray-500">{{ role }}</p>
  </ion-label>
  }
</ion-item>

<ion-button
  shape="circle"
  color="light"
  class="absolute top-12 right-0 translate-x-1/2 shadow-lg pt-2"
  style="--padding-start: 8px; --padding-end: 8px; height: 36px; width: 36px"
  (click)="toggleSidebar()"
>
  <app-icon
    [name]="(isSidebarOpen$ | async) ? 'chevronLeft' : 'chevronRight'"
    style="width: 22px; height: 22px; color: black"
  ></app-icon>
</ion-button>

<ion-list lines="none">
  <ion-item-divider mode="md" class="bg-transparent">
    <ion-label
      color="medium"
      class="text-xs font-bold uppercase tracking-wider pl-2"
    >
      Main
    </ion-label>
  </ion-item-divider>

  @for (item of sidemenuData; track item.label) {
  <ion-item
    button
    [routerLink]="item.route"
    routerLinkActive="selected-item"
    [routerLinkActiveOptions]="{ exact: true }"
    detail="false"
    class="sidebar-item"
  >
    <app-icon
      [name]="item.icon"
      style="width: 25px; height: 25px; color: red"
    ></app-icon>

    @if(isSidebarOpen$ | async) {
    <ion-label class="ml-2">{{ item.label }}</ion-label>
    }
  </ion-item>
  }
</ion-list>

<ion-list lines="none" class="mt-auto">
  <ion-item
    button
    detail="false"
    class="sidebar-item"
    style="--color: var(--ion-color-danger)"
  >
    <app-icon name="logout" style="width: 25px; height: 25px"></app-icon>

    @if(isSidebarOpen$ | async) {
    <ion-label color="danger" class="ml-2">Logout</ion-label>
    }
  </ion-item>
</ion-list>
