ion-item {
  --ion-item-background: transparent;
}
ion-list {
  --ion-item-background: transparent;
}

.sidebar-item {
  --background-hover: var(--ion-color-light);

  &.selected-item {
    --background: rgba(var(--ion-color-danger-rgb), 0.1);
    ion-label {
      font-weight: 600;
      color: var(--ion-color-danger);
    }
  }
}
