<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-full transition-transform -translate-x-full sm:translate-x-0 sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      @for (item of sidemenuData; track item.label) {
      <li>
        <a href="#" class="flex items-center p-2 rounded-lg group">
          <img [src]="'/assets/icons/' + item.icon" alt="Logo" class="w-6 h-6 text-primary" />

          <span class="ms-3 text-primary">
            <a [routerLink]="item.route">{{ item.label }}</a>
          </span>
        </a>
      </li>
      }
    </ul>
  </div>
</aside>
