$bg-surface-dark: #121212; // Very dark gray, recommended by Material Design
$text-primary-dark: #d1d5db; // Light gray for primary text

$sidebar-bg-dark: #1f2937; // Dark gray for sidebar background
$sidebar-text-dark: #d1d5db; // Light gray for sidebar text
$sidebar-hover-bg-dark: #374151; // Medium gray for hover state
$sidebar-active-bg-dark: #111827; // Almost black for active state

$background-color: #5b6777; // Light gray background for the entire app
