$bg-surface-light: #ffffff; // Soft white background
$text-primary-light: #1f2937; // Dark gray for text for good contrast

$sidebar-bg-light: #ffffff; // Light gray for sidebar background
$sidebar-text-light: #757575; // Medium gray for sidebar text
$sidebar-hover-bg-light: #f6f6f6; // Slightly darker gray for hover state
$sidebar-active-bg-light: #000000; // Darker gray for active

$background-color: #5b6777; // Light gray background for the entire app
