// src/styles/_typography.scss

// Import the font variables
@use 'fonts' as *;

// 1. Define Text Styles in a Map
$text-styles: (
  'base': (
    'font-family': $font-sans,
    'font-size': 14px,
    'font-weight': 500,
    'line-height': '20px',
    'letter-spacing': '-0.02em',
  ),
);

// 2. Create a Mixin to Apply the Styles
@mixin apply-text-style($style-name) {
  @if map-has-key($text-styles, $style-name) {
    $style: map-get($text-styles, $style-name);
    @each $prop, $val in $style {
      #{$prop}: #{$val};
    }
  }
}
